<div class="container__big-card">

    <div class="big-card__photo">
        <img src="https://sportshub.cbsistatic.com/i/2022/09/02/8bfcfb45-8e3f-4c5a-908b-a8df462603cc/blue-beetle-movie-really-important-to-dc-films-universe-future-dceu.jpg"
        alt=""
        height="200px"
        srcset="">
     </div>

    <div class="big-card__title">
        <h1><a href="#">Saiu a nova versão do Angular</a></h1>
     </div>

    <div class="big-card__description">
        <p>
            <a href="#">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque possimus corrupti fuga facere eum eaque esse error nemo suscipit.
            </a>
        </p>
     </div>

</div>