@media screen and (max-width: 768px) {
    .container__small-card {
        margin-left: 3vw;
        width: 94vw;
    }

    .small-card__photo > img {
        width: 39vw;
    }

    .small-card__title > h1 > a {
        font-size: 3.9vw;
    }
}