<div class="container__small-card">
    
    <div class="container__small-card-content">
        
        <div class="small-card__photo">
                <img src="https://p2.trrsf.com/image/fget/cf/1200/900/middle/images.terra.com/2022/10/23/2008446962-doctor-who-david-tennnant.jpg"
                alt=""
                srcset="">
            </div>

            <div class="small-card__title">
                <h1><a href="#">Saiu a nova versão do Angular</a></h1>
            </div>    
    </div>
    
      <hr class="container__small-card__separator"/>  
    
</div>

