.container__small-card {
    width: 45vw;
    margin-bottom: 1vw;

    height: auto;
    
}

.container__small-card-content {
    display: flex;
    flex-direction: row;
}

.small-card__photo > img {
    width: 13vw;
    margin-right: 1.5vw;
}

.small-card__title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-card__title > h1 > a {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.4vw;
}

.container__small-card__separator {
    margin-top: 1vw;
    border: 1px solid gray;
}