@media screen and (max-width: 768px) {
    .container__content > a {
        margin-bottom: 7vw;
      
        width: 19vw;
        font-size: 3.4vw;
    }
    
    .content__cover > img {
        width: 80vw;
    }

    .content__title > h1 {
        margin-top: 2vw;

        text-align: center;
        
        font-size: 6vw;
    }
    
    .content__description {
        margin-top: 3vw;
        font-size: 4vw;
        text-align: justify;
    }
}