@media screen and (max-width: 768px) {
    .container__articles {
        display: flex;
        flex-direction: column;
    }

    .container__articles__hiddenSeparator {
        margin-left: 3vw;
        margin-top: 15px;
        margin-bottom: 15px;
        border: 1px solid gray;

        width: 94vw;
    }
}