@media screen and (min-width: 930px) and (max-width: 1160px) {
    header {
        width: 1163px;
    }

    .container__articles {
        width: 1163px;
    }
}

@media screen and (min-width: 1600px) {
    .container__articles {
        height: 1000px;
        width: 1882px;
    }
}

@media screen and (min-width: 2000px) {
    .container__articles {
        width: 2501px;
        height: 860px;
    }
}

@media screen and (max-width: 930px) {
    header {
        width: 927px;
    }

    .container__articles {
        flex-direction: column;
    }

    .container__articles__hiddenSeparator{
        width: 880px;
        margin-left: 20px;
        margin-top: 15px;
        margin-bottom: 10px;
        border: 1px solid gray;
    }
}

@media screen and (max-width: 440px) {
    header {
        width: 599px;
    }

    .container__articles__hiddenSeparator{
        width: 555px;
    }
}

@media screen and (max-width: 340px) {
    header {
        width: 440px;
    }

    .container__articles__hiddenSeparator{
        width: 397px;
    }
}